<h3>Loading</h3>

<div class="d-flex justify-content-center align-items-center">
    <img src="https://www.wpfaster.org/wp-content/uploads/2013/06/loading-gif.gif" width="200" height="200" />
</div>

<MudCard>
    <div class="overlay d-flex flex-column justify-content-center align-items-center p-3">
        <MudProgressCircular Indeterminate="true" Color="Color.Primary" Class="mb-3" />
        <MudText Typo="Typo.h5">@Label</MudText>
    </div>
</MudCard>
